<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="main">
        <h1>THIS IS THE DEMO FILE</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nemo fugiat laudantium expedita alias! Quisquam sed nobis nihil, impedit ex, soluta quidem, eligendi velit repellat vel architecto ipsam tenetur suscipit?</p>
    </div>
</body>
</html>